body {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.main {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: -2em;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.6);
  opacity: 0;
  transition: 1.5s;
  animation: showhead 3s;
}
.header:hover {
  opacity: 0.8;
}
.header .blog-title {
  display: block;
  text-align: center;
  margin-top: 2em;
}
.header .blog-title .logo {
  color: #aaa;
  font-size: 2em;
  font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
  text-decoration: none;
}
.header .blog-subtitle {
  color: #aaa;
  font-size: 1em;
  text-align: left;
  font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
  margin-top: 20px;
}
.header .menu {
  margin-top: 30px;
  padding: 0;
}
.header .menu .menu-item {
  display: block;
  margin-right: 10px;
  margin-top: 40px;
  text-align: left;
}
.header .menu .menu-item-link {
  color: #aaa;
  text-decoration: none;
}
.header .menu .menu-item-link:hover {
  color: #368ccb;
}
@-moz-keyframes showhead {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showhead {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes showhead {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showhead {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
.post {
  margin: 1em auto;
  margin-left: 200px;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
  opacity: 0.8;
  overflow: hidden;
  animation: showpost 3s ease;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-title {
  font-size: 1.5em;
}
.posts .post-title .post-title-link {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-meta {
  color: #bababa;
}
@-moz-keyframes showpost {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes showpost {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}
@-o-keyframes showpost {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes showpost {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}
.archive {
  margin: 1em auto;
  margin-left: 200px;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
  opacity: 0.8;
  animation: showAch 2s ease;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #368ccb;
  text-decoration: none;
}
@-moz-keyframes showAch {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@-webkit-keyframes showAch {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@-o-keyframes showAch {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes showAch {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
.page-nav {
  color: #f1f1f1;
  margin-left: 200px;
}
.page-nav :link {
  color: #f1f1f1;
}
.page-nav :hover {
  color: #00f;
}
.page-nav :visited {
  color: #ccc;
}
.page-nav :active {
  color: #f00;
}
.page-nav * {
  text-decoration: none;
  color: #999;
  margin: 10px 20px;
}
#background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
