body {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.main {
  max-width: 1060px;
  margin: 0 auto;
}
.header {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: -2em;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
  opacity: 0;
  transition: 1.5s;
  animation: showhead 3s;
}
.header:hover {
  opacity: 0.8;
}
.header .blog-title {
  display: block;
  text-align: center;
  margin-top: 2em;
}
.header .blog-title .logo {
  color: #aaa;
  font-size: 2em;
  font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
  text-decoration: none;
}
.header .blog-subtitle {
  color: #aaa;
  font-size: 1em;
  text-align: left;
  font-family: "Comic Sans MS", cursive, LiSu, sans-serif;
  margin-top: 20px;
}
.header .menu {
  margin-top: 80%;
  padding: 0;
}
.header .menu .menu-item {
  display: block;
  margin-right: 10px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 18px;
}
.menu-item-link {
  color: #aaa;
  text-decoration: none;
}
.menu-item-link:hover {
  color: #368ccb;
}
.menu-item-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  left: 50%;
  background: #4285f4;
  transition: all 0.3s;
}
.menu-item-link:hover::after {
  width: 100%;
  left: 0;
  right: 0;
}
@-moz-keyframes showhead {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showhead {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes showhead {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showhead {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
.post {
  margin: 1em auto;
  margin-left: 200px;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
  opacity: 0.8;
  overflow: hidden;
  animation: showpost 3s ease;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-title {
  font-size: 1.5em;
}
.posts .post-title .post-title-link {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-meta {
  color: #bababa;
}
@-moz-keyframes showpost {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes showpost {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}
@-o-keyframes showpost {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes showpost {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.8;
  }
}
.archive {
  margin: 1em auto;
  margin-left: 200px;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
  opacity: 0.8;
  animation: showAch 2s ease;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #368ccb;
  text-decoration: none;
}
@-moz-keyframes showAch {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@-webkit-keyframes showAch {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@-o-keyframes showAch {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes showAch {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
.page-nav {
  color: #f1f1f1;
  margin-left: 200px;
}
.page-nav :link {
  color: #f1f1f1;
}
.page-nav :hover {
  color: #00f;
}
.page-nav :visited {
  color: #ccc;
}
.page-nav :active {
  color: #f00;
}
.page-nav * {
  text-decoration: none;
  color: #999;
  margin: 10px 20px;
}
#background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.resume {
  text-align: center;
}
.title-container {
  width: 100px;
  height: 100px;
  border-radius: 300px;
  overflow: hidden;
  display: block;
  margin: 20px auto;
}
.title-img {
  width: 150px;
  height: 100px;
  border-radius: 300px;
  margin-left: -26px;
  opacity: 0.8;
}
.arrow {
  display: block;
  margin: auto auto;
  width: 30px;
  height: 30px;
  border-left: 3px solid #333;
  border-bottom: 3px solid #333;
  transform: rotateZ(-45deg);
  animation: shrink 3s infinite;
}
.info-container {
  display: block;
  position: relative;
  margin: 60px auto;
}
.info {
  opacity: 0;
  width: 200px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 20px;
  line-height: 60px;
  /* animation: shineup 4s ease; */
}
.detail {
  display: block;
  animation: articleshow 8s ease;
}
.detail ul,
li {
  list-style: none;
}
.skill {
  display: flex;
  justify-content: space-around;
}
.skill ul {
  display: flex;
  width: 200px;
  justify-contetn: space-between;
  flex-flow: wrap;
}
.skill ul li {
  border: 1px solid #000;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  margin: 3px 3px;
  padding: 2px 2px;
}
.vc {
  text-align: left;
  margin-left: 100px;
  margin-top: -140px;
  border-bottom: 1px solid #000;
}
.vc p {
  width: 27%;
  display: inline-block;
  margin-right: 40px;
}
@-moz-keyframes shrink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}
@-webkit-keyframes shrink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}
@-o-keyframes shrink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes shrink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.3;
  }
}
@-moz-keyframes shineup {
  0% {
    opacity: 0.9;
    margin-top: 100px;
    margin-left: 40%;
  }
  100% {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 0;
  }
}
@-webkit-keyframes shineup {
  0% {
    opacity: 0.9;
    margin-top: 100px;
    margin-left: 40%;
  }
  100% {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 0;
  }
}
@-o-keyframes shineup {
  0% {
    opacity: 0.9;
    margin-top: 100px;
    margin-left: 40%;
  }
  100% {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 0;
  }
}
@keyframes shineup {
  0% {
    opacity: 0.9;
    margin-top: 100px;
    margin-left: 40%;
  }
  100% {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 0;
  }
}
@-moz-keyframes articleshow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes articleshow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes articleshow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes articleshow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
